.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #000000;
  background-image: url("../media/globe_light.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Anta", sans-serif;
  color: aliceblue;
  background-position-y: 113px;
}

h1 {
  font-size: 50px;
  margin: 35px auto 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

hr {
  background-color: #f4dfc8;
  border: none;
  border-radius: 10px;
  bottom: 20px;
  height: 18px;
  margin: auto;
  position: relative;
  width: 265px;
}

select {
  height: 30px;
}

.saying {
  bottom: 20px;
  color: #af2655;
  font-size: 20px;
  font-weight: 100;
  left: 85px;
  margin: auto;
  position: relative;
  text-align: center;
  transform: rotate(-9deg);
}
